/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


.light
{
  color:#7986cb !important;
}

.dark
{
  color: black;
}

.black
{
  background-color: #4527a0 !important;
  color: whitesmoke !important;
}

.check
{
  color: red !important;
}

.fas
{
  cursor: pointer;    
}


.overlay-effect 
{    
  transition: .2s ease;
  background-color: rgba(259, 67, 95, 0.5) !important;    
  border: solid rgba(259, 67, 95, 1) !important;    ;
}

.checkPulse 
{
  animation:checkPulse 5s ease infinite;
}
  @keyframes checkPulse 
  {
    0% {
      transform:scale(1);
    }
    5% {
      transform:scale(1.25);
    }
    20% {
      transform:scale(1);
    }
    30% {
      transform:scale(1);
    }
    35% {
      transform:scale(1.25);
    }
    50% {
      transform:scale(1);
    }
    55% {
      transform:scale(1.25);
    }
    70% {
      transform:scale(1);
    }    
  }

  @media screen and (min-width: 1500px ) 
  {
      .gamepiece
      {
        font-size: 2em !important;
      }
  }

  @media screen and (min-width: 1200px ) 
  {
      .gamepiece
      {
        font-size: 1.8em !important;
      }
  }

  @media screen and (min-width: 1000px ) 
  {
      .gamepiece
      {
        font-size: 2em !important;
      }
  }

  